<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>Scheduler - a to-do list Solution</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.png"> 
    
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:700|Roboto:400,400i,700&display=swap" rel="stylesheet">
    
    <!-- FontAwesome JS-->
    <script defer src="assets/fontawesome/js/all.min.js"></script>

    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="assets/css/theme.css">
	<link id="theme-style" rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head> 

<body>    
    <header class="header">	    
        <div class="branding">
            <div class="container-fluid position-relative py-3">
                <div class="logo-wrapper">
	                <div class="site-logo">
	                  <div align="center"><a class="navbar-brand" href="index.html"><img class="logo-icon me-2" src="assets/images/logo.png" alt="logo" ></a></div>
	                </div>    
					
                </div><!--//docs-logo-wrapper-->
	        
            </div><!--//container-->
        </div><!--//branding-->
    </header><!--//header-->
    <div class="topnav">
  <a href="#home">Home</a>
  <a href="#audience-section">Features</a>
  <a href="#content-section">Pricing</a>
  <a href="#author-section" class="split">About the Developer</a>
</div>
    <section class="hero-section">
	    <div class="container">
		    <div class="row">
			    <div class="col-12 col-md-7 pt-5 mb-5 align-self-center">
				    <div class="promo pe-md-3 pe-lg-5">
					    <h1 class="headline mb-3">
						    With Schedular! Accomplish it <br>on time   
					    </h1><!--//headline-->
					    <div class="subheadline mb-4">
					      <p align="justify">Our brains like things to be finished off and tidy, which means that we worry about things that need doing. That ought to mean that making a list of things to do makes us more worried, but it turns out that it actually tricks the brain into thinking that the task has been done.</p>
					      <p align="justify"><strong>In other words, writing things down on a Schedular App means that you stop worrying, and actually have time to prioritise and then complete your tasks.</strong></p>
					    </div><!--//subheading-->
					    
					    <div class="cta-holder row gx-md-3 gy-3 gy-md-0">
						    <div class="col-12 col-md-auto">
						        <a class="btn btn-primary w-100" href="#">Free App Version</a>
						    </div>
						    <div class="col-12 col-md-auto">
						        <a class="btn btn-secondary scrollto w-100" href="#audience-section">More Details</a>
						    </div>
					    </div><!--//cta-holder-->
					    
					    
				    </div><!--//promo-->
			    </div><!--col-->
			    <div class="col-12 col-md-5 mb-5 align-self-center">
				    <div class="book-cover-holder">
					    <h1>Start Here</h1>
    <ul>
        
            <li> <a href="/delete/{{ loop.index0 }}">[delete]</a></li>
        
    </ul>
    <form action="/add" method="post">
        <input type="text" name="item" placeholder="Add a new item">
        <input type="submit" value="Add">
    </form>
					    
				    </div><!--//book-cover-holder-->
				    
		    </div><!--//row-->
	    </div><!--//container-->
    </section><!--//hero-section-->
      
    

    <footer class="footer">

	    <div class="footer-bottom text-center py-5">

	        
            <small class="copyright">Designed by Ezeikpe Ifenkwem</i> for <a class="theme-link" href="#" target="_blank">ALX </a>Schedular Project</small>
 
	    </div>
	    
    </footer>
       
    <!-- Javascript -->          
    <script src="assets/plugins/popper.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
    <script src="assets/plugins/smoothscroll.min.js"></script> 
    
    <script src="assets/js/main.js"></script>

</body>
</html> 

